<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css')}}">
</head>

<body>
    <div id="loginNav">
        <h1>HealthCheck</h1>
        <a href="{{url_for('welcomePage')}}">Home</a>
    </div>
    <div class="container">

        <div class="row mt-4">
            <div class="col-4"></div>
            <div class="col-6" id="card">
                <div class="col">
                    <h1>Welcome to Health Check</h1>
                    <p>All in one health management app</p>

                    <p>Are you a</p>

                    <a href="{{url_for('verification')}}">Patient</a>

                    <p>Or a doctor</p>

                    <a href="{{url_for('loginPageDoctor')}}">Doctor</a>
                </div>

            </div>
            <div class="col-6"></div>
        </div>
    </div>



</body>

</html>