
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}





.wrapper {
    display: flex;
    align-items: stretch;
    background-color: #F5F6FA;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #FFFFFF;
    /* text-align: center; */
}



#sidebar h2 {
    padding: 50px 0px;
    text-align: center;
    font-size: 1.5em
}

#sidebar ul{
    margin-left: 25px;
}

#sidebar li {
    padding: 25px 0px;
}


#sidebar a {
    color: inherit;
    text-decoration: none;
}

#sidebar a {
    font-size: 0.75em;
}

#sidebar img {
    width: 24px;
    margin-right: 5px;
    filter: invert(11%) sepia(100%) saturate(4757%) hue-rotate(262deg) brightness(102%) contrast(137%);
    
}

#currentPage {
    background-color: #5800FF;
    border-radius: 10px;
    margin-right: 25px;


}

#currentPage a {
    color: #FFFFFF;
    font-weight: bold;
}

#currentPage img {
    filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(280deg) brightness(102%) contrast(103%);
    
}

#sidebar button {
    background: none;
    border:#5800FF;
    border-radius: 5px;
    border: 1px solid #5800FF;
    color: #5800FF;
    padding: 5px 15px; 
    font-size: 0.75em
}

#bottomNav {
    margin-top: 100px;
}

/* CONTENT ************************************************** */


h3 {
    padding:0px 0px 10px 50px;
}

#dashboard {
    width: 100%;
    padding-top: 50px;
    display: block;
    background-color: #F5F6FA;


}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content>div {
    background-color: white;
    border-radius: 5%;
    width: 600px;
    align-items: center;

}

#accountInfo * {
    padding: 20px;
    text-align: center;
}

form>div {
    padding: 10px;
}



