/* @media only screen and (min-width: 1024px) {}
    @media only screen and (max-width: 480px) {} */


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}





.wrapper {
    display: flex;
    align-items: stretch;
    background-color: #F5F6FA;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #FFFFFF;
    /* text-align: center; */
}



#sidebar h2 {
    padding: 50px 0px;
    text-align: center;
    font-size: 1.5em
}

#sidebar ul{
    margin-left: 25px;
}

#sidebar li {
    padding: 25px 0px;
}


#sidebar a {
    color: inherit;
    text-decoration: none;
}

#sidebar a {
    font-size: 0.75em;
}

#sidebar img {
    width: 24px;
    margin-right: 5px;
    filter: invert(11%) sepia(100%) saturate(4757%) hue-rotate(262deg) brightness(102%) contrast(137%);
    
}

#currentPage {
    background-color: #5800FF;
    border-radius: 10px;
    margin-right: 25px;
    color: white


}

#currentPage a {
    color: #FFFFFF;
    font-weight: bold;
}

#currentPage img {
    filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(280deg) brightness(102%) contrast(103%);
    
}

#sidebar button {
    background: none;
    border:#5800FF;
    border-radius: 5px;
    border: 1px solid #5800FF;
    color: #5800FF;
    padding: 5px 15px; 
    font-size: 0.75em
}

#bottomNav {
    margin-top: 100px;
}

/* CONTENT ************************************************** */


h3 {
    padding:0px 0px 10px 50px;
}

#dashboard {
    width: 100%;
    padding-top: 50px;
    display: block;
    background-color: #F5F6FA;


}
#content {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    margin: 10px 50px;
    background-color:#F5F6FA;
    ;
    height: 80vh

}

#content>div {
    border-radius: 10px;
  
    background-color: #FFFFFF;
}

.box1 {
    
    grid-column-start: 1;
    grid-row-start: 1;
    display:block;
    text-align: center;
    align-items: center;
}


.box1 p, .box1 h6, .box3 h6, .box5 h6 {
    padding: 10px;
}

.box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center
    
}

.box2 * {
    padding-top: 40px;
}



.box3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display:flex;
    font-size: 0.75em;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#medButton {
    color: white;
    background-color:#00D7FF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

#medButton:hover {
    font-weight: 600;
}

.box4 {
    grid-column-start: 4;
    grid-row-start: 1;
    background-image: linear-gradient(#5800FF,#0096FF );
    color: white;
    font-weight:800;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.box4 p {

    padding-top: 40px
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box5 button {
    color: white;
    background-color:#0096FF;
    padding: 5px 10px;
    border: none;
    border-radius: 5%;
}

.box5 button:hover {
    font-weight: 600;
}

.box5 img {
    max-width: 80%;
    justify-content: center;
}

.box6 { 
    background-image: linear-gradient(#0096FF, #00D7FF);
    color: white;
    font-weight:800;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;

    
}

.box6 p {

    padding-top: 40px
}

.box7 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box8 {
    background-image: linear-gradient( #00D7FF, #72FFFF);
    color: white;
    font-weight:800;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;

}


.box8 p {

    padding-top: 40px
}